article {
    color: #666;

    header {

    }

    .article-title {
        font-size: 26px;
        text-align: center;
        font-weight: 400;
    }

    .article-body {
        text-align: justify;
    }
}