.back-to-top {
    position: fixed;
    right: 16px;
    bottom: -100px;

    padding: 0 6px;
    text-align: center;
    font-size: 12px;
    font-family: Futura;
    color: #fff;
    background-color: #222;
    cursor: pointer;
    user-select: none;

    transition-property: bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    &.active {
        bottom: 24px;
    }

    &:hover {
        opacity: .8;
    }

    .num {
        width: 3ch;
    }
}