.menu {
    $menu-width: 256px;

    .switch {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 8px;
        width: 40px;
        height: 40px;
        border: none;
        box-sizing: border-box;
        outline: none;
        background: none;
        fill: #3c3c3c;
        cursor: pointer;
        user-select: none;
        transition: left .2s ease;
    }

    .drawer {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        @include custom-scrollbar(y);
        width: $menu-width;
        background-color: #fefefe;
        transform: translateX(-100%);
        transition: transform .2s ease;
    }

    .backdrop {
        z-index: 1;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .2s ease;
    }

    &.active {
        .drawer {
            transform: translateX(0);
        }

        .backdrop {
            display: block;
            opacity: 1;
        }
    }

    .nav-item {
        display: block;
        padding: 0 16px 0 32px;
        color: #080808;
        line-height: 3;
        font-size: 18px;

        @include text-uppercase();

        &:hover {
            background-color: #f6f6f6;
        }

        &.active {
            background-color: #f0f0f0;
        }

        .icon {
            margin-right: 12px;
            font-size: 1.3em;
        }
    }

    .avatar {
        float: left;
        overflow: hidden;
        margin-right: 18px;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        img {
            width: 100%;
        }
    }
    .brand {
        margin: 24px;
        padding-bottom: 24px;
        line-height: 30px;
        border-bottom: 1px solid #ccc;
    }

    .nickname {
        line-height: 30px;
    }
    .mail {
        line-height: 30px;
        color: #000004;
    }
}