footer {
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #474747;
    background-color: #2d2d2d;
    letter-spacing: 2px;
    text-transform: uppercase;
}