@import "variables";
@import "mixins";

body {
}

header {
  display: none;
}

main {

}

.archive-page {
  padding: 30px;


  &-title {
    padding: 23px 0 19px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ddd;
  }
}

.archive-stats {
  margin-bottom: 5px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  color: #444;
}

.archive-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 14px;

  &-item {
    margin: 0 10px 10px 0;
  }

  .archive-year {

  }

  .archive-date {
    position: relative;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .post {
    display: block;
    width: 220px;

    &-cover {
      display: block;
      padding-bottom: percentage(1 / (300 / 200)); // because img size is 300 x 200
      height: 0;
      background: #000 0/cover;
    }

    &-info {
      padding: 10px;
      font-size: 14px;
      color: #666;
    }

    .post-title {
      font-size: 12px;
    }
  }
}
