@import "variables";
@import "mixins";

@import "markdown";

@import "post/article";
@import "post/toc";

body {
    min-height: 100vh;
    background-color: #f6f6f6;

    @include hide-scrollbar;
}

main {
    display: flex;
    margin: 0 auto;
    padding: 30px 15px 40px;
    width: 90%;

    @media screen and (max-width: 767px) {
        padding: 0;
    }
}