@font-face {
    font-family: FuturaLight;
    src: url(../font/futura/futura-light.woff2) format('woff');
}

@font-face {
    font-family: FuturaBook;
    src: url(../font/futura/futura-book.woff2) format('woff')
}

//@font-face {
//    font-family: FuturaMedium;
//    src: url(../font/futura/futura-medium.woff2) format('woff')
//}
//
//@font-face {
//    font-family: FuturaBold;
//    src: url(../font/futura/futura-bold.woff2) format('woff')
//}
