> table {
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;

    >tbody {
        > tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }
    }

    td,
    th {
        padding: 10px 8px;
        border: 1px solid #ddd;
        vertical-align: middle;
    }

    th {
        font-weight: 700;
        padding-bottom: 10px;
        color: #636363;
        background-color: #ededed;
    }
}