//colors
$color_log_cabin_approx: #272822;
$white: #fff;
$color_storm_dust_approx: #666;
$color_gallery_approx: #eee;
$color_alto_approx: #ddd;
$color_eastern_blue_approx: #258fb8;
$color_pablo_approx: #75715e;
$color_turquoise_blue_approx: #66d9ef;
$color_radical_red_approx: #f92672;
$color_atlantis_approx: #a6e22e;
$color_golden_sand_approx: #e6db74;
$color_blue_marguerite_approx: #7163d7;
$color_tree_poppy_approx: #fd971f;

pre {
    .comment {
        color: $color_pablo_approx;
    }
    .keyword {
        color: $color_turquoise_blue_approx;
    }
    .function {
        color: $white;
        .keyword {
            color: $color_turquoise_blue_approx;
        }
        .title {
            color: $color_atlantis_approx;
        }
    }
    .class {
        color: $color_atlantis_approx;
        .params {
            color: $color_turquoise_blue_approx;
        }
    }
    .tag {
        color: $white;
    }
    .doctype {
        color: $white;
    }
    .params {
        color: $white;
    }
    .css {
        .value {
            color: $white;
        }
        ~ * {
            .tag {
                color: $color_radical_red_approx;
            }
            .class {
                color: $color_atlantis_approx;
            }
            .id {
                color: $color_tree_poppy_approx;
            }
        }
    }
    .title {
        color: $color_radical_red_approx;
    }
    .at_rule {
        color: $color_radical_red_approx;
        .keyword {
            color: $color_radical_red_approx;
        }
    }
    .preprocessor {
        color: $color_radical_red_approx;
        .keyword {
            color: $color_radical_red_approx;
        }
    }
    .attribute {
        color: $color_atlantis_approx;
    }
    .built_in {
        color: $color_atlantis_approx;
    }
    .value {
        color: $color_golden_sand_approx;
    }
    .string {
        color: $color_golden_sand_approx;
    }
    .number {
        color: $color_blue_marguerite_approx;
    }
    .id {
        color: $color_tree_poppy_approx;
    }
}