<!doctype html>
<html lang="{{ config.language }}">
{% include './head.njk' %}

<body>
{% include './header.njk' %}
{% include './menu.njk' %}

<main>
    {% block body %}{% endblock %}
</main>

{% include './back-to-top.njk' %}
{% include './footer.njk' %}

{% block scripts %}
    {% include './scripts.njk' %}
{% endblock %}
</body>
</html>
