<div id="J_Menu" class="menu">
    <button id="J_MenuSwitch" class="switch"><i class="icon">
            <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid meet"
                 style="pointer-events: none; display: block; width: 100%; height: 100%;">
                <g>
                    <rect x="2" y="4" width="16" height="2"></rect>
                    <rect x="2" y="9" width="16" height="2"></rect>
                    <rect x="2" y="14" width="16" height="2"></rect>
                </g>
            </svg>
        </i></button>

    <div class="drawer">
        <div class="brand clearfix">
            <a href="{{ url_for(theme.avatar_link) }}" class="avatar">
                <img src="{{ url_for(theme.avatar) }}">
            </a>
            <h5 class="nickname">Vinci</h5>
            <a href="mailto:ivill@live.com" title="ivill@live.com" class="mail">ivill@live.com</a>
        </div>
        <nav class="menu-nav">
            {% for menu in theme.menu %}
                <a href="{{ menu.url }}" title="{{ menu.text }}" class="nav-item">
                    {#<i class="iconfont {{ menu.icon }}"></i>#}
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#{{ menu.icon }}"></use>
                    </svg>
                    {{ menu.text }}
                </a>
            {% endfor %}
        </nav>
    </div>
    <div id="J_Backdrop" class="backdrop"></div>
</div>