<!doctype html>
<html lang="{{ config.language }}">
{% include './head.njk' %}

<body>
{% include './header.njk' %}
<main>
    {% block body %}{% endblock %}
</main>

{% include './back-to-top.njk' %}
{% include './footer.njk' %}

{% include './scripts.njk' %}
</body>
</html>
