{% extends 'partial/layout.njk' %}

{% block body %}
    {#####################}
    {### ARCHIVE BLOCK ###}
    {#####################}
    <div class="post-block archive">
        <div id="posts" class="posts-collapse">
        <span class="archive-page-counter">
            {{ site.posts.length }}
        </span>
        {% for post in page.posts.data %}
             {# Show year #}
            {% set year = date(post.date, 'YYYY') %}

            <div class="collection-title">
                <h1 class="archive-year" id="archive-year-{{ year }}">{{ date(post.date, 'YYYY') }}</h1>
            </div>
            {# endshow #}
        {% endfor %}
        </div>
    </div>
    {#########################}
    {### END ARCHIVE BLOCK ###}
    {#########################}

    {% include 'partial/pagination.njk' %}
{% endblock %}
