{% extends 'partial/layout.njk' %}

{% block body %}
    <section class="archive-block">
        <h2 class="archive-page-counter">
           非常好! 目前共计 {{ site.posts.length }} 篇日志。 继续努力。
        </h2>

        {% set currentYear = 0 %}
        {% for post in page.posts %}
            {% set postYear = date(post.date, 'YYYY') %}

            {% if currentYear !==  postYear %}
                {% set currentYear = postYear %}
                    <div class="archive-meta">
                        <time class="archive-year">{{ currentYear }}</time>
                    </div>
            {% endif %}

            <div class="post">
                <i class="dot"></i>
                <time>{{ date(post.date, 'MM-DD') }}</time>
                <h2 class="post-title">{{ post.title }}-{{ post.link }}</h2>
            </div>
        {% endfor %}
        </div>
    </section>
    {% include 'partial/pagination.njk' %}
{% endblock %}
