{% extends 'common/layout.njk' %}

{% block body %}
    {% include 'partials/index/article.njk' %}
    {% include 'common/pagination.njk' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ js('/js/back-to-top.js') }}
{% endblock %}
