{% extends 'partial/layout.njk' %}

{% block body %}
    <article>
        <header>
            <h1 class="article-title post-title">{{ page.title }}</h1>
            <div class="article-meta post-meta">
                <span class="article-date post-date">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-calendar"></use>
                    </svg>
                    <span class="post-meta-item-text">发表于</span>&nbsp
                    <time datetime="{{ page.date }}">{{ date(page.date) }}</time>
                </span>
                <span class="post-meta-divider">|</span>
                <span class="article-word-count">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-folder"></use>
                    </svg>
                    <span class="post-meta-item-text">分类于</span>
                    <span>
                        {% for cat in post.categories %}
                            {{ url(cat.path, cat.name) }}
                        {% endfor %}
                    </span>
                </span>
                <span class="post-meta-divider">|</span>
                <span id="busuanzi_container_page_pv" class="article-visitors-count post-visitors-count">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-eye"></use>
                    </svg>
                    <span class="post-meta-item-text">阅读次数</span>
                    &nbsp;<span id="busuanzi_value_page_pv"></span>
                </span>
            </div>
        </header>
        <div id="post-content" class="markdown article-body post-body">
            {{ page.content }}
        </div>
    </article>
    {% include 'partial/toc.njk' %}
{% endblock %}
