{% extends 'partial/layout.njk' %}

{% block body %}
    <article>
        <header>
            <h1 class="article-title post-title">{{ page.title }}</h1>
            <div class="article-meta post-meta">
                <span class="article-date post-date">
                    发表于&nbsp;<time datetime="{{ page.date }}">{{ date(page.date) }}</time>
                </span>
                <span class="post-meta-divider">|</span>
                <span class="article-word-count post-word-count">
                    字数&nbsp;2000
                </span>
                <span class="post-meta-divider">|</span>
                <span class="article-visitors-count post-visitors-count">
                    阅读次数&nbsp;1024
                </span>
            </div>
        </header>
        <div class="markdown article-body post-body">
            {{ page.content }}
        </div>
    </article>
{% endblock %}
